<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <!-- 
	  	Switch from old media style: 
	  		stylesheet_link_tag "application", :media => "all" 
	  	which is the same as: 
	  		stylesheet_link_tag("application", { :media => "all" }) 
	  -->
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<!-- Adds contents of the special flash variable to site 
			layout for messages that appear and then disappear on 
			subsequent reloads -->
			<% flash.each do |key, value| %>
				<!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<!-- add debug info to site layout to display useful info about
				each page using the built-in debug method and params variable, 
				and make sure it only displays in development env -->
			<%= debug(params) if Rails.env.development? %>
		</div>

	</body>
</html>
