<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <!-- 
	  	Switch from old media style: 
	  		stylesheet_link_tag "application", :media => "all" 
	  	which is the same as: 
	  		stylesheet_link_tag("application", { :media => "all" }) 
	  -->
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	  <script type="text/javascript">
	  	// Exercise 10.7 add JavaScript display to Home page to count down chars
	  	jQuery(document).ready(function() { // DOM not loaded, must use ready event
	  		$('#micropost_content').keypress(function() {
	  			var contentStringLength = $('#micropost_content').val().length;
	  			$('.micropost-counter').html(139 - contentStringLength);
				});
	  	});
	  </script>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<!-- Adds contents of the special flash variable to site 
			layout for messages that appear and then disappear on 
			subsequent reloads -->
			<% flash.each do |key, value| %>
				<!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<!-- add debug info to site layout to display useful info about
				each page using the built-in debug method and params variable, 
				and make sure it only displays in development env -->
			<%= debug(params) if Rails.env.development? %>


		</div>
		<% if Rails.env.development? %>
			<div class="container">
				<div class="hero">
					<h4>Original URL:</h4>
					<p><%= request.original_url() %></p>
					<h4>Local?:</h4>
					<p class="request-par">
						<%= request.local? %>
					</p>					
					<h4>IP:</h4>
					<p class="request-par">
						<%= request.ip %>
					</p>
					<h4>Query Parameters</h4>
					<p class="request-par">
						<%= request.query_parameters %>
					</p>
					<h4>Server Software:</h4>
					<p class="request-par">
						<%= request.server_software %>
					</p>
				</div>
			</div>
		<% end %>
	</body>
</html>
